<!DOCTYPE html>
<html>
  <head>
    <title>Material Query Engine</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex">


    <%- partial ('../partials/styles.ejs' ) %>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body class="d-flex flex-column min-vh-100"> 
    <%- partial ('../partials/header.ejs' ) %>
    <%- body %>
    <%- partial ('../partials/footer.ejs' ) %>
    <%- partial ('../partials/scripts.ejs' ) %>    
  </body>
</html>
